/* On Split Screen */
@media (max-width: 1200px) {
    /* utility */
    .grid {
        grid-template-columns: repeat(1, 1fr);
        align-content: center;
    }

    /* Home Page -> Shocase */
    .showcase p { 
        max-width: 350px;
        text-align: center;
        margin: 0 auto;
    }

    .special { height: 65em;}

    /* Our Vision Page -> History Image */
    .our-history .grid { justify-items: center; }
    /* Our Vision -> Main image */
    .main-img img { margin-top: 15px;}

    /* Testimonial Page */
    .testimonial-video video { height:97em;}
    .testimonial-footer { margin-top: 6em; }
}
/* Split screen */
@media ( max-width: 950px) {
    .hero { height: 800px;}
    .hero-article .my-2 { margin-top: -8em;}

    
}

/* iPads and Other Devices */
@media (max-width: 768px) {
    /* Todays Special Section */
    .special { height: 95em;}

    /* Our Vision -> Main image */
    .main-img img { height: 600px;}
}
 /* Mobile Devices */

