/* Dancing Script */
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* Parisienne */
/* font-family: 'Parisienne', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/* Tangerine */
/* font-family: 'Tangerine', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* Regular Utilities */
*, * ::after, * ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* White Space Problem Solved */
html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html { scroll-behavior: smooth; }

body {
    background-color: #fff;
    font-family: Verdana, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
    font-weight: 400;
    padding: 5px 0;
}

ul { list-style-type: none; }

a { 
    text-decoration: none; 
    color: #333;
}

p { 
    line-height: 1.3;
    padding: 5px 0;
}

img { 
    width: 100%; 
    object-fit: cover;
}

/* ---------------- Registration System ----------------- */
.sign-modal {
    visibility: hidden;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.8); 
}

.modal-container  {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-content: center;
    width: 45vh;
    padding: 20px 40px;
    font-family: Helvetica, sans-serif;
    background-color: #ffffff;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.show { visibility: visible; }

.modal-content {
    max-width: 240px;
    text-align: center;
}

.sign-modal input {
    outline: none;
    border: 1px solid #222;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.m-content-2 { font-size: 12px; }

.sign-modal .btn {
    margin: 0 auto;
    width: 150px;
    padding: 10px 20px;
    color: #fff;
    background-color: #222;
}

.form-label { font-size: 20px; }

/* ------------- Home Page CSS -------------- */
/* Navbar */
.navbar h1 { font-size: 25px; }

.navbar .container { 
    justify-content: space-around;
    align-items: center;
}

.site-nav { 
    justify-content: space-between;
}

.btn { transition: 0.35s; }

.navbar ul, .navbar li { 
    font-size: 18px;
    margin-top: 3px;
    padding: 10px 20px; 
}

.navbar .left-nav a:hover { color: rgb(214, 52, 52); }

.navbar button {
    outline: none;
    background-color: #fff;
    padding: 0px 25px;
}

.navbar .btn:hover {
    background: #000;
    color: #fff;
}

/* Toggle Bars */
.toggle-bars {
    display: none;
    cursor: pointer;
}

.toggle-bars .bars{
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar-1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.change .bar-2 {
    opacity: 0;
}
.change .bar-3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

/* left Nav Cart */
.left-nav img {
    width: 40px;
    height: 40px;
}

/* Number of items in Cart */
.left-nav p {
    padding: 3px 7px;
    margin: -5px 0;
    border-radius: 80px;
    height: 25px;
    width: 25px;
    background: #000;
    color: #fff;
}

/* mobile navbar */
.mob-ul {
    display: none;
    text-align: center;
}

.mob-nav-active {
    display: grid;
}

.mob-ul li {
    padding: 20px 0;
    border-bottom: 1px solid #000;
    width: 100%;
}

.mob-navbar button {
    margin: 20px auto;
}

.mob-navbar img {
    width: 40px;
    height: 40px;
    text-align: center;
}

.mob-navbar p {
    padding: 3px 7px;
    margin: -5px 0;
    border-radius: 80px;
    height: 25px;
    width: 25px;
    background: #000;
    color: #fff;
}

.mob-navbar .flex {
    justify-content: center;
}

.mob-navbar a:hover { color: rgb(214, 52, 52); }

.mob-navbar button {
    outline: none;
    background-color: #FAF9F6;
    padding: 10px 25px;
}

.mob-navbar .btn:hover {
    background: #000;
    color: #fff;
}

/* Hero Section */
.hero { height: 500px; }

.hero img {
    max-width: 550px;
    margin-top: -70px;
}

.hero h3 { font-size: 30px; }

.hero li {
    margin-top: 10px;
    padding-right: 20px;
}

.hero p { 
    max-width: 400px; 
    font-size: 16px;
}

/* Come & Dine Section */
.showcase h6 {
    color: #aea512;
    text-transform: uppercase;
}

.showcase h1, .showcase h4 , .showcase .sm{
    color: #533834;
}

.showcase img {
    width: 100px;
    height: 100px;
    margin: 5px 0;
}

.showcase p { font-size: 17px;}

/* Todays Special */
.special {
    background-image: url(../images/99.jpg);
    height: 35em;
}

.special .container-min { justify-content: space-around; }

.special .card { width: 350px; }

.special .card:hover { transform: translateY(-10px); }

.card img { height: 350px; }

/* Most Loved Dishes */
.dishes .container-min { 
    max-width: 1600px;
    margin-bottom: 60px;
    margin: 0 auto;
}

.dishes .grid { justify-content: center; }

.dishes .card {
    display: block;
    width: 320px;
    padding: 35px;
    transition: transform 0.3s ease-in;
}

.dishes h2{
    font-size: 29px;
    color: #aea512;
}

.dishes img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 10px;
}

.dishes .card:hover { transform: translateY(-10px);}

/* ------------------ Menu Page CSS ----------------- */
.menu .container { padding: 0; }

.menu-item {
    display: flex;
    max-width: 500px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 6px;
    background-color: #ffffff;
}


.menu-item .flex { align-items: center; }

.menu-item .item-info { 
    padding: 15px;
    width: 100%;
}

.menu-item figure i {margin-right: 5px;}

.menu-item .item-category { color: #5B6EFD;}

.menu-cart-functionality {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

 .cart-btn-container {
     display: flex;
    padding: 5px;
    background-color: #F5F5F5;
}


.menu-item .price {
    color: #F57C00;
    font-size: 25px;
    font-weight: 700;
    font-family: 'roboto', sans-serif;
}

.cart-btn-container i {
    padding: 5px;
}

.cart-btn-container button {
    background: #ffffff;
    border: none;
    color: #666262;
    font-size: 18px;
    margin: 0 10px;
    transition: all ease-in 0.2s;
}

.cart-btn-container button:focus  {
    outline: none;
}

.cart-btn-container button:hover {
    background-color: #6c757d;
    color: #ffffff;
} 

.menu-item img {
    max-width: 220px;
    height: 240px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}


/* ----------------- Our Vision CSS ------------------ */
/* Banner Image */
.main-img img { height: 50em; }

/* Our History Section */
.our-history p { 
    max-width: 28em;
    font-size: 22px;
}

.our-history img { 
    box-shadow: 0 0 0 4px #ffffff, 0 0 0 5px rgb(210 200 42 / 80%); 
    max-width: 420px;
    height: 250px;
}

/* History & Philosphy */
.our-history h1, .our-philosphy h1 { color: #533834;}
.our-history h3, .our-philosphy h3 { color: #aea512;}

/* Our Philoshpy */
.our-philosphy figure { 
    padding: 0 20px;
    margin: 5px 10px;
}

.our-philosphy figcaption { display: flex;}

.our-philosphy img { 
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.our-philosphy figure { max-width: 500px; }

.our-philosphy p { 
    max-width: 350px;
    font-size: 18px;
}

/* ------------------------------- Footer --------------------------------*/
footer {
    background-color: #171819;
    color: #fff;
    padding: 80px 0;
}

footer li, footer p, footer i, footer a {
    font-weight: 400;
    color: #666262;
}

footer article {
    max-width: 35em;
    padding: 0 50px;
}

footer h1 { text-transform: uppercase; }

footer li { padding: 10px 0; }

.quick-links li { border-bottom: 1px solid #666262; }

footer .contact li { 
    display: flex;
    align-items: center;
}

footer .about i, footer .contact i {
    padding-right: 10px;
    color: rgb(211, 48, 48);
}

footer a:hover, .contact p:hover {
    color: #fff;
    cursor: pointer;
}

/* Deep Devs Information */
footer .deep-devs { 
    border-top: 1px solid #666262;
    color: #666262;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
    padding: 40px 5px 0 5px;
    font-size: 14px;
}

footer .deep-devs a { 
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}